h1{
    text-align: center;
    margin: 15px 0;
    color: #1979b3;
}
h2  {
    text-align: center;
    letter-spacing: 2px;
    margin: 10px 0;
}
#replay{
    color: cornflowerblue;
    text-align: center;
    cursor: pointer;
    display: none;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.scoreBoard{
    width:22%;
    position: absolute;
    right: 0;
    background-color: #fff;
    margin-right: 10px;
    padding: 10px;
    border: 3px solid #cccccc;
}

.grid {
    height: 450px;
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 5px black groove;
    cursor: url(hammer.png), auto;
}

.square{
    width: 146px;
    height: 146px;
    border: 2px solid black;
    background-color: #663100de;
    position: relative;
}

.mole{
    background-image: url('mole.png');
    background-size: cover;
    background-position: center;
}

#score-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
  }
  
  #score-table td, #score-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #score-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #score-table tr:hover {background-color: #ddd;}
  
  #score-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff9933;
    color: white;
  }

  #score-table tr:last-child{
      border-top: 2px groove #000;
      border-bottom: 2px groove #000;
  }

#scoreReset{
    background-color: #ff9933;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 3px 8px;
    border-radius: 5px;
    float: right;
}  

.win-mess{
    text-align: center;
    font-size: 18px;
    color: gold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dimgrey;
    color: white;
    text-align: center;
 }
 